/out

/server/server
/server/dist
/server/vendor

/public/dist
/public/tmp
/public/out-tsc
/public/node_modules
/public/.sass-cache
/public/connect.lock
/public/coverage
/public/libpeerconnection.log
/public/typings

fws.db
config.yaml
npm-debug.log
yarn-error.log
testem.log
createScreenInstance
