@import "mixins";
@import "variables";

.login {
	&__color-bar {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;

		z-index: -99;

		background-color: $color-light;
	}

	&__center-box {
		@include absolute-center(40%);
	}
}
