@import "base";
@import "variables";
@import "mixins";

.form {
	&--container {
		&--small {
			& > *:not(:first-child) {
				margin-top: 1.5rem;
			}

			.form--button {
				margin-top: 3rem;
			}
		}
	}
	&--text {
		label {
			font-size: $font-size-normal;
			color: $color-gray;
		}

		input {
			margin-top: .5rem;
			padding: .875rem .5rem;
			width: 100%;

			outline: none;

			font-size: $font-size-normal;
			color: $color-black;

			border: 1px solid $color-light-gray;

			@include placeholder {
				color: $color-gray;
			}

			&:focus {
				border-color: $color-primary;
			}
			@include transition(border-color .2s);
		}
	}

	&--error {
		margin-top: .2rem;
		color: $color-error;
		font-size: $font-size-small;
	}

	&--button {
		display: inline-block;
		padding: 0 7rem;
		height: 5rem;

		border: none;
		outline: none;

		vertical-align: middle;
		font-size: $font-size-normal;
		font-weight: 700;

		cursor: pointer;

		color: $color-white;
		background-color: $color-primary;

		@include transition(background-color .2s, color .2s);
		&:hover {
			color: darken($color-white,7);
			background-color: darken($color-primary, 7);
		}
	}

	&--full-button {
		width: 100%;
	}

	// &--checklabel {
	// 	color: $color-black;
	// 	display: inline-block;
	// 	position: relative;

	// 	font-family: $font-family;
	// 	font-size: $form-checklabel-font-size;
	// 	line-height: $form-checklabel-font-size;

	// 	cursor: pointer;
	// 	user-select: none;

	// 	& > input {
	// 		position: absolute;
	// 		display: block;
	// 		width: $form-checklabel-size;
	// 		height: $form-checklabel-size;
	// 		left: 0;
	// 		top: 0;

	// 		appearance: none;
	// 		outline: none;
	// 		opacity: 0;
	// 		z-index: -1;
	// 	}

	// 	& > span::before {
	// 		display: inline-block;
	// 		width: $form-checklabel-size;
	// 		height: $form-checklabel-size;
	// 		margin-right: $form-checklabel-spacing;

	// 		content: "";
	// 		border: solid $form-checklabel-border $color-gray;
	// 		border-radius: $form-checklabel-radius;

	// 		background-color: $color-white;

	// 		vertical-align: middle;

	// 		transition: border-color .3s, background-color .3s;
	// 	}

	// 	& > input:checked + span::before {
	// 		border-color: $color-primary;
	// 		background-color: $color-primary;
	// 	}


	// 	& > span::after {
	// 		display: inline-block;
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 		width: .5rem;
	// 		height: .8rem;

	// 		content: "";
	// 		border: solid .2rem transparent;
	// 		border-left: none;
	// 		border-top: none;

	// 		transform: translate(.5rem, .4rem) rotate(45deg);

	// 		transition: border-color .3s;
	// 	}

	// 	& > input:checked + span::after {
	// 		border-color: $color-white;
	// 	}
	// }
}

.sidebar {
	list-style: none;
	font-size: $font-size-normal;

	&__item {
		height: 3rem;
		line-height: 3rem;
	}

	&__link:link,
	&__link:visited {
		text-decoration: none;
		
	}
}

.card {
	background: white;
	padding: 2rem;
	box-shadow: 0 .1rem 1rem $color-shadow;
	&__header {
	}
}