@import "variables";

.small {
	&__container {
		max-width: 30rem;

		padding: 4rem 4rem;
		margin: 8rem auto;

		background: $color-white;

		box-shadow: 0 .1rem 1rem $color-shadow;
	}

	&__headline {
		b {
			font-weight: 500;
		}
		font-size: $font-size-normal;
		color: $color-black;
	}

	&__heading {
		font-weight: 600;
		font-size: $font-size-big;

		color: $color-primary;
	}

	&__body {
		padding-top: 2rem;
	}
}

.dash {
	&__header {
		height: 4rem;
	}

	&__container {
		min-height: 50rem;
		display: flex;
	}

	&__sidebar {
		background: orange;
		padding-left: 1.5rem;
		flex: 0 0 18%;
	}
	
	&__main {
		padding: 0 1rem;
		flex: 1;
	}
}