@import "variables";

.small {
	width: $small-width;

	overflow: hidden;

	background: $color-white;

	box-shadow: 0 .1rem 1rem $color-shadow;
	border-radius: $small-radius;

	&__headline {
		b {
			font-weight: 500;
		}
		font-size: $font-size;
		color: $color-black;
	}

	&__heading {
		display: block;
		height: $small-heading-height;
		line-height: $small-heading-height;
		padding-left: $small-padding;

		font-weight: 600;
		font-size: $font-size * 1.4;

		color: $color-white;
		background-color: $color-primary;
	}

	&__body {
		margin-top: $small-body-margin-top;
		padding: $small-padding;
	}
}
