@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin absolute-center($top){
	position: absolute;
	top: $top;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin placeholder {
	&::placeholder {@content}
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 600px) { @content };
	}
	@if $breakpoint == tab-port {
		@media only screen and (max-width: 900px) { @content };
	}
	@if $breakpoint == tab-land {
		@media only screen and (max-width: 1200px) { @content };
	}
	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 1800px) { @content };
	}
}
