$font-family: 'Noto Sans KR', sans-serif;
$font-size-big: 2rem;
$font-size-normal: 1.5rem;
$font-size-small: 1.2rem;

$radius-big: .7rem;

$color-primary: #424242;
$color-second: #FF80AB;
$color-third: #424242;

$color-error: #FF9494;

$color-black: #424242;
$color-gray: #7F8489;
$color-light-gray: #ced4da;

$color-white: #fff;
$color-shadow: rgba(#000, 0.25);

// $form-checklabel-font-size: 1.5rem;
// $form-checklabel-size: 1.5rem;
// $form-checklabel-border: .2rem;
// $form-checklabel-radius: .2rem;
// $form-checklabel-spacing: .3rem;