$font-family: 'Noto Sans KR', sans-serif;
$font-size: 1.5rem;

$color-primary: #424242;
$color-second: #FF80AB;
$color-third: #424242;

$color-error: #FF9494;

$color-black: #424242;
$color-gray: #7F8489;
$color-light-gray: #9d9d9d;

$color-white: #fff;
$color-shadow: rgba(#000, 0.25);

$form-text-height: 4rem;
$form-text-border: .1rem;

$form-button-font-weight: 700;
$form-button-height: 4.5rem;
$form-button-radius: .4rem;
$form-button-padding: 0 7rem;

$form-checklabel-font-size: 1.5rem;
$form-checklabel-size: 1.5rem;
$form-checklabel-border: .2rem;
$form-checklabel-radius: .2rem;
$form-checklabel-spacing: .3rem;

$small-body-margin-top: -1rem;
$small-heading-padding: 3.3rem;
$small-padding-horizontal: 4rem;
$small-padding-vertical: 3rem;
$small-width: 30rem;
$small-radius: .8rem;
$small-child-margin: 2.5rem;
