$font-family: 'Noto Sans KR', sans-serif;
$font-size-big: 1.9rem;
$font-size-normal: 1.5rem;
$font-size-small: 1.3rem;

$radius-big: 0.7rem;

$color-primary: #435b6b;
$color-second: #ff80ab;
$color-third: #424242;

$color-bg: #e6ebf2;

$color-error: #ff9494;

$color-black: #424242;

$color-blue: #334755;
$color-dark-blue: #2c3c47;

$color-gray: #6b6b6b;
$color-light-gray: #ced4da;

$color-blue-green-1: #d5f193;
$color-blue-green-2: #79c447;

$color-pink-yellow-1: #e4e6ef;
$color-pink-yellow-2: #93a5cf;

$color-white: #fff;
$color-shadow: rgba(#000, 0.25);

// $form-checklabel-font-size: 1.5rem;
// $form-checklabel-size: 1.5rem;
// $form-checklabel-border: .2rem;
// $form-checklabel-radius: .2rem;
// $form-checklabel-spacing: .3rem;
