@import 'variables';
@import 'mixins';

.card {
  background: white;
  padding: 2rem;
  box-shadow: $shadow-1;

  &__header {
    font-size: $font-size-big;
  }

  &__main {
    margin-top: 1.5rem;
  }

  &__entry {
    display: flex;
    font-size: $font-size-small;
    &:not(:first-child) {
      margin-top: 1rem;
    }
    &__title {
      flex: 0;
      font-weight: 500;
    }
    &__content {
      flex: 1;
      font-weight: 300;
      margin-left: 0.5rem;
    }
  }
}

.health {
  padding: 2rem;
  box-shadow: $shadow-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--okay {
    background: linear-gradient(
      to top,
      $color-blue-green-1,
      $color-blue-green-2
    );
  }
  &--bad {
    background: $color-error;
  }
  &--progress {
    background: linear-gradient(
      to top,
      $color-pink-yellow-1,
      $color-pink-yellow-2
    );
  }

  &--none {
    background: $color-light-gray;
  }
  &__title {
    color: $color-white;
    font-size: $font-size-normal;
  }

  &__content {
    color: $color-white;
    font-size: $font-size-big;
    font-weight: 600;
  }
  &__aux {
    color: $color-white;
    font-size: $font-size-normal;
  }
}
