@import 'variables';
@import 'mixins';

.card {
  background: white;
  padding: 2rem;
  box-shadow: $shadow-1; min-height: 17rem;

  &__header {
    display: flex;
    justify-content: space-between;
    
    font-size: $font-size-big;
  }

  &__main {
    margin-top: 1.5rem;
  }

  &__entry {
    display: block;
    word-wrap:break-word;
    font-size: $font-size-small;
    &:not(:first-child) {
      margin-top: 1rem;
    }
    &__title {
      display: inline;
      font-weight: 500;
    }
    &__content {
      display: inline;
      font-weight: 300;
    }
    &__aux {
      &:link, 
      &:visited{
        display: inline-flex;
        align-items: center;
        justify-content: center;

        vertical-align: middle;

        margin-bottom: .5rem;
        margin-left: .2rem;
        padding: .5rem;
        app-icon {
          display: inline-block;
          vertical-align: middle;
          width: 1.4rem;
          height: 1.4rem;
        }

        background-color: rgba($color-gray, 0);
        @include transition(background-color .2s);
      }

      &:hover {
        background-color: rgba($color-gray, .1);
      }
    }
  }
}

.health {
  padding: 2rem;
  box-shadow: $shadow-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--okay {
    background: linear-gradient(
      to top,
      $color-blue-green-1,
      $color-blue-green-2
    );
  }
  &--bad {
    background: $color-error;
  }
  &--progress {
    background: linear-gradient(
      to top,
      $color-pink-yellow-1,
      $color-pink-yellow-2
    );
  }

  &--none {
    background: $color-light-gray;
  }
  &__title {
    color: $color-white;
    font-size: $font-size-normal;
  }

  &__content {
    color: $color-white;
    font-size: $font-size-big;
    font-weight: 600;
  }
  &__aux {
    color: $color-white;
    font-size: $font-size-normal;
  }
}
