@import 'variables';
@import 'mixins';

.form {
  &--container {
    &--small {
      & > *:not(:first-child) {
        margin-top: 1.5rem;
      }

      .form--button {
        margin-top: 3rem;
      }
    }
  }
  &--text {
    label {
      font-size: $font-size-normal;
      color: $color-gray;
    }

    input {
      margin-top: 0.4rem;
      padding: 0.5em 0.25em;
      width: 100%;

      outline: none;

      font-size: $font-size-normal;
      color: $color-black;

      border: 1px solid $color-light-gray;
      border-radius: 0;

      @include placeholder {
        color: $color-gray;
      }

      &:focus {
        border-color: $color-primary;
      }
      @include transition(border-color 0.2s);
    }
  }

  &--error {
    margin-top: 0.2rem;
    color: $color-error;
    font-size: $font-size-small;
  }

  &--button {
    &--small {
      padding: 0 1rem;
      height: 3.5rem;

      font-size: $font-size-small;
      font-weight: 400;
    }
    display: inline-block;
    padding: 0 7rem;
    height: 5rem;

    border: none;
    outline: none;

    vertical-align: middle;
    font-size: $font-size-normal;
    font-weight: 700;

    cursor: pointer;

    color: $color-white;
    background-color: $color-primary;

    @include transition(background-color 0.2s, color 0.2s);
    &:hover {
      color: darken($color-white, 10);
      background-color: darken($color-primary, 10);
    }
  }

  &--icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 3.25rem;
    height: 3.25rem;
    app-icon {
      width: 1.7rem;
      height: 1.7rem;
    }
    @include respond(phone) {
      width: 3.8rem;
      height: 3.8rem;
      app-icon {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &--full-button {
    width: 100%;
  }

  &--cancel-button {
    background: $color-pale-gray;
    color: $color-gray;
    &:hover {
      color: lighten($color-gray, 5);
      background-color: darken($color-pale-gray, 5);
    }
  }

  &--no-back-button {
    color: $color-gray;
    background-color: rgba($color-gray, 0);
    &:hover {
      color: lighten($color-gray, 5);
      background-color: rgba($color-gray, 0.1);
    }
  }

  &--select {
    position: relative;
    vertical-align: top;

    select {
      font-size: inherit;
      -moz-appearance: none;
      -webkit-appearance: none;
      border-color: $color-gray;
	  background: $color-white;
      outline: none;
      position: relative;
      display: block;
      padding: 0.5em 0.5em;
      padding-right: 2.5em;
      border-radius: 0;
      width: 5.5em;

      @include transition(border-color 0.2s);
      &:focus {
        border-color: $color-primary;
      }
    }

    &::after {
      font-size: inherit;
      position: absolute;
      width: 0.5em;
      height: 0.5em;
      top: 50%;
      right: 0.7em;
      z-index: 4;
      margin-top: -0.35em;

      display: block;
      border: 2px solid transparent;
      border-right: 0;
      border-top: 0;
      border-color: $color-gray;

      content: ' ';
      pointer-events: none;

      -webkit-transform: rotate(-45deg);
      -webkit-transform-origin: center;
      transform-origin: center;
      transform: rotate(-45deg);
    }
  }

  &--dropdown {
    position: relative;
    &__menu {
      &--on {
        visibility: initial;
        opacity: 1;
      }
      width: 100vw;
      max-width: 25rem;

      position: absolute;
      z-index: $z-index-2;
      top: 4rem;
      right: 0;

      visibility: hidden;
      opacity: 0;

      font-weight: 300;
      font-size: $font-size-normal;

      background: $color-white;
      box-shadow: $shadow-2;
      font-size: $font-size-small;

      @include transition(opacity 0.2s);

      ul {
        list-style: none;

        li {
          a:link,
          a:visited {
            text-decoration: none;
            display: block;
            padding: 1rem;
            color: $color-black;

            @include transition(background-color 0.2s);
          }

          a:hover {
            background-color: darken($color-white, 5);
          }
        }
      }
    }
  }

  // &--checklabel {
  // 	color: $color-black;
  // 	display: inline-block;
  // 	position: relative;

  // 	font-family: $font-family;
  // 	font-size: $form-checklabel-font-size;
  // 	line-height: $form-checklabel-font-size;

  // 	cursor: pointer;
  // 	user-select: none;

  // 	& > input {
  // 		position: absolute;
  // 		display: block;
  // 		width: $form-checklabel-size;
  // 		height: $form-checklabel-size;
  // 		left: 0;
  // 		top: 0;

  // 		appearance: none;
  // 		outline: none;
  // 		opacity: 0;
  // 		z-index: -1;
  // 	}

  // 	& > span::before {
  // 		display: inline-block;
  // 		width: $form-checklabel-size;
  // 		height: $form-checklabel-size;
  // 		margin-right: $form-checklabel-spacing;

  // 		content: "";
  // 		border: solid $form-checklabel-border $color-gray;
  // 		border-radius: $form-checklabel-radius;

  // 		background-color: $color-white;

  // 		vertical-align: middle;

  // 		transition: border-color .3s, background-color .3s;
  // 	}

  // 	& > input:checked + span::before {
  // 		border-color: $color-primary;
  // 		background-color: $color-primary;
  // 	}

  // 	& > span::after {
  // 		display: inline-block;
  // 		position: absolute;
  // 		top: 0;
  // 		left: 0;
  // 		width: .5rem;
  // 		height: .8rem;

  // 		content: "";
  // 		border: solid .2rem transparent;
  // 		border-left: none;
  // 		border-top: none;

  // 		transform: translate(.5rem, .4rem) rotate(45deg);

  // 		transition: border-color .3s;
  // 	}

  // 	& > input:checked + span::after {
  // 		border-color: $color-white;
  // 	}
  // }
}
