@import 'variables';
@import 'mixins';

.header {
  display: flex;
  height: $header-height;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: $shadow-1;

  @include respond(phone) {
    height: $mobile-header-height;
  }

  &__bot {
    display: flex;
    align-items: center;
    app-icon {
      width: 3rem;
      height: 3rem;
    }
    .form--select {
      margin-left: 1rem;
      font-size: $font-size-normal;
    }
    @include respond(phone) {
      app-icon {
        width: 3.25rem;
        height: 3.25rem;
      }
    }
  }

  &__actions {
    flex: 1 0;
    display: flex;
    flex-wrap: none;
    .form--button {
      margin-left: 1rem;
    }
  }

  &__profile {
    flex: 1;
    display: block;
    app-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
    @include respond(phone) {
      app-icon {
        width: 1.7rem;
        height: 1.7rem;
      }
    }
  }
}
