@import 'variables';
@import 'mixins';

.popup {
  &--hidden {
    visibility: hidden;
    opacity: 0;
  }

  z-index: $z-index-4;
  opacity: 1;
  position: fixed;
  background: rgba($color-black, 0.1);
  width: 100vw;
  height: 100%;
  overflow-y: auto;

  @include transition(opacity 0.2s);

  &__box {
    display: flex;
	min-width: 0;
    flex-direction: column;
    background: $color-white;
    box-shadow: $shadow-2;

	margin: 5rem auto;
    width: 70%;
    min-height: 20rem;
    max-width: 25rem;
  }

  &__content {
    flex: 1;
	display: flex;
    text-align: center;
	flex-direction: column;
	justify-content: center;
	word-wrap: break-word;
    font-size: $font-size-normal;
    padding: 2rem 3rem;
  }

  &__buttons {
    padding: 2rem 3rem;
    padding-top: 0;

    .form--button {
      height: 4rem;
    }
  }
}
