@import 'variables';
@import 'mixins';

.sidebar {
  list-style: none;
  font-size: $font-size-small;
  background: $color-blue;
  z-index: $z-index-2;
  overflow: hidden;
  height: 100%;

  @include respond(phone) {
    height: 100vh;
    width: 100%;
    max-height: $mobile-header-height;
  }

  &--menu-on {
    position: fixed;
    max-height: 100vh;
  }

  &__header {
    padding: 0 2rem;
    display: flex;
    height: $header-height;
    align-items: center;
    justify-content: space-between;

    @include respond(phone) {
      height: $mobile-header-height;
    }

    &__logo {
      font-size: $font-size-big;
      color: $color-white;
      font-weight: 300;
    }

    &__toggle {
      .form--button {
        width: 4rem;
        height: 4rem;
      }

      display: none;
      @include respond(phone) {
        display: initial;
      }
    }
  }

  &__menu {
    &__item {
    }

    &__link:link,
    &__link:visited {
      color: $color-light-gray;
      text-decoration: none;
      display: inline-flex;
      width: 100%;
      align-items: center;
      padding: 1rem 2rem;
      app-icon {
        width: 1.7rem;
        height: 1.7rem;
      }

      @include respond(phone) {
        font-size: $font-size-normal;
        padding: 1.5rem 2rem;
        app-icon {
          width: 2rem;
          height: 2rem;
        }
      }

      span {
        font-weight: 300;
        margin-left: 1rem;
      }

      @include transition(color 0.2s, background-color 0.2s);
    }

    &__link:hover {
      color: lighten($color-white, 5);
      background-color: lighten($color-dark-blue, 2);
    }

    &__link--active:link,
    &__link--active:visited {
      color: $color-white;
      background-color: $color-dark-blue;
    }
  }
}
