<div class="container">
    <div class="row">
        <div class="health health--okay col--half">
            <div i18n class="health__title">
                Run Status
            </div>
            <div i18n class="health__content">
                Running
            </div>
            <div class="health__aux">
                for 5 hours
            </div>
        </div>
        <ng-container [ngSwitch]="buildStatus.type">
            <div *ngSwitchCase="'none'" class="health health--none col--half">
                <div i18n class="health__title">
                    Build Status
                </div>
                <div i18n class="health__content">
                    None
                </div>
            </div>
            <div *ngSwitchCase="'building'" class="health health--progress col--half">
                <div i18n class="health__title">
                    Build Status
                </div>
                <div i18n class="health__content">
                    Building
                </div>
                <div class="health__aux">
                    {{buildStatus.step}}
                </div> 
            </div>
            <div *ngSwitchCase="'built'" class="health col--half" 
                [class.health--okay]="buildStatus.success" 
                [class.health--bad]="!buildStatus.success">
                <div i18n class="health__title">
                    Build Status
                </div>
                <div i18n class="health__content">
                    {{buildStatus.success ? "Succes":"Failed"}}
                </div>
                <div class="health__aux">
                    {{buildStatus.created}}
                </div>
            </div>
        </ng-container>
    </div>

    <div class="row">
        <div class="card col--full">
            <div i18n class="card__header">Details</div>
            <div class="card__main">
                <div class="card__entry">
                    <div i18n class="card__entry__title">Name:</div>
                    <div class="card__entry__content">&nbsp;{{current.name}}</div>
                </div>
                <div class="card__entry">
                    <div i18n class="card__entry__title">RepoURL:</div>
                    <div class="card__entry__content">&nbsp;{{current.git_url}}</div>
                    <a href="{{current.git_url}}" target="_blank" class="card__entry__aux"><app-icon icon="link"></app-icon></a>
                </div>
                <div class="card__entry">
                    <div i18n class="card__entry__title">WebhookSecret:</div>
                    <div class="card__entry__content">&nbsp;{{current.webhook_secret}}</div>
                    <a href="#" class="card__entry__aux"><app-icon icon="reload-black"></app-icon></a>
                </div>
            </div>
        </div>
    </div>
</div>