<div class="dash">
    <div class="dash__header">

    </div>
    <div class="dash__container">
        <nav class="dash__sidebar">
            <ul class="sidebar">
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        IC
                        <span>Bots</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        IC
                        <span>Bots</span>
                    </a>
                </li>
            </ul>
        </nav>
        <main class="dash__main">
            <div class="card">
                <div class="card__header">Main</div>
            </div>
        </main>
    </div>
</div>