@import "variables";

.login-form {
	& > *:not(:first-child) {
		margin-top: $small-child-margin;
	}

	.form--button {
		margin-top: $small-child-margin * 1.5;
	}

	.form--error {
		margin-top: 0;
	}
}
