<form class="login-form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="form--text">
    <input name="username" #username="ngModel" ngModel type="text"
      required>
    <label> Username </label>
    <div class="bar"></div>
  </div>
  <div class="form--error" *ngIf="wrongUsername">
    The user doesn't exist.
  </div>
  <div class="form--error" *ngIf="username.invalid && f.submitted">
    Username is required.
  </div>

  <div class="form--text">
    <input name="password" #password="ngModel" ngModel type="password"
      class="form--text" required>
    <label> Password </label>
    <div class="bar"></div>
  </div>
  <div class="form--error" *ngIf="wrongPassword">
    Wrong Password.
  </div>
  <div class="form--error" *ngIf="password.invalid && f.submitted">
    Password is required.
  </div>

  <button type="submit" class="form--button form--full-button">Login</button>
</form>
