@import "mixins";
@import "components";

$login-form-heading-height: 5.5rem;
$login-form-padding: 1.25rem;

.login-form {
	height: 25rem;
	width: 30rem;

	overflow: hidden;

	background: $color-white;

	box-shadow: 0 .1rem 1rem $color-shadow;
	border-radius: .3rem;

	&__heading {
		display: block;
		height: $login-form-heading-height;
		line-height: $login-form-heading-height;
		padding-left: $login-form-padding;

		font-weight: 600;
		font-size: $font-size * 1.4;

		color: $color-black;
	}

	&__body {
		@include clearfix;
		padding: $login-form-padding;

		&__inputs {
			input {
				&:not(:first-child) {
					margin-top: 2rem;
				}
			}
		}

		&__remember {
			margin-top: 1.5rem;
		}

		&__submit {
			margin-top: 1.5rem;
			float: right;
		}
	}
}
