<div class="login-form">
  <div class="login-form__heading">
    Welcome!
  </div>
  <div class="login-form__body">
    <form>
      <div class="login-form__body__inputs">
        <input type="text" class="form--control" placeholder="Username" required>
        <input type="password" class="form--control" placeholder="Password" required>
      </div>
      <div class="login-form__body__remember">
        <label class="form--checklabel">
        </label>
      </div>
      <div class="login-form__body__submit">
        <input type="submit" class="form--control" value="Login">
      </div>
    </form>
  </div>
</div>
