<div class="small invite-form">
  <app-small-header></app-small-header>
  <div class="small__body">
    <div class="invite-form__heading"> Hello <b>{{ username }}</b>. Welcome to FWS! To create your account, fill in the form and press Register.</div>
    <form>
      <input type="text" class="form--text" placeholder="Nickname" required>
      <input type="password" class="form--text" placeholder="Password" required>
      <input type="submit" class="invite-form__submit form--button form--full-button" value="Register">
    </form>
  </div>
</div>
