<form class="invite-form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="form--text">
    <input name="nickname" #nickname="ngModel" ngModel type="text"
      required>
    <label> Nickname </label>
    <div class="bar"></div>
  </div>
  <div class="form--text">
    <input name="password" #password="ngModel" ngModel type="password"
      required>
    <label> Password </label>
    <div class="bar"></div>
  </div>
  <div class="form--error" *ngIf="password.invalid && f.submitted">
    Password is required.
  </div>
  <button type="submit" class="form--button form--full-button">Register</button>
</form>
