<form class="invite-form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <input name="nickname" #nickname="ngModel" ngModel type="text"
    class="form--text" required>
  <label> Username </label>
  <div class="form--error" *ngIf="nickname.invalid && f.submitted">
    Nickname is required.
  </div>
  <input name="password" #password="ngModel" ngModel type="password"
    class="form--text" required>
  <label> Password </label>
  <div class="form--error" *ngIf="password.invalid && f.submitted">
    Password is required.
  </div>
  <button type="submit" class="form--button">Register</button>
</form>
