@import "variables";

.invite-form {
	margin-top: $small-child-margin;
	& > * {
		margin-top: $small-child-margin;
	}

	.form--button {
		margin-top: $small-child-margin * 2;
	}

	.form--error {
		margin-top: 0;
	}
}
