<div class="container">
    <div class="row">
        <div class="card col__full">
            <div class="card__header">
                Volumes
            </div>
            <div class="card__main">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Path</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr> 
                            <td>sdfdfa</td>
                            <td>sdfdfa</td>
                        </tr>
                        <tr> 
                            <td>sdfdfa</td>
                            <td>sdfdfa</td>
                        </tr>
                        <tr> 
                            <td>sdfdfa</td>
                            <td>sdfdfa</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>