<div class="container">
    <div class="row">
        <app-res-card
            class="col--full"
            title="Environment Variables"
            [items]="envItems"
            [keys]="envKeys"
            [names]="envNames"
            [options]="envOptions"
            (addClick)="onEnvAddClick()">
        </app-res-card>
    </div>
    <div class="row">
        <app-res-card
            class="col--full"
            title="Config Files"
            [items]="confItems"
            [keys]="confKeys"
            [names]="confNames"
            [options]="confOptions"
            (addClick)="onConfAddClick()">>
        </app-res-card>
    </div>
</div>
