<table class="table">
    <thead>
        <tr>
            <th *ngFor="let name of names">{{name}}</th>
            <th class="reslist__menu-cell"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="reslist__detail-row" *ngFor="let item of items" (click)="itemClick(item)">
            <td *ngFor="let key of keys">{{item[key]}}</td>
            <td class="reslist__menu-cell">
                <app-form-dropdown [items]="createDrops(item)">
                    <button title="option" class="form--button form--icon-button form--no-back-button">
                        <app-icon icon="option"></app-icon>
                    </button>
                </app-form-dropdown>
            </td>
        </tr>
    </tbody>
</table>