.container {
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &:not(:first-child) {
            margin-top: 2rem;
        }
    }

    .col {
        &__full {
            flex: 1;
        }

        &__half {
            flex: 0 0 calc(50% - 1rem);
        }
    }
}