@import 'variables';
@import 'mixins';

.dash {
  height: 100vh;
  background: $color-bg;
  display: flex;
  overflow-x: hidden;

  @include respond(phone) {
    flex-direction: column;
    overflow-y: auto;
  }

  &__sidebar {
    overflow-y: hidden;
    position: relative;
    flex: 0 0 17%;

    @include respond(phone) {
      flex: 0 0 auto;
    }
  }

  &__container {
    height: 100vh;
    flex: 1 1 0;
    min-width: 0;
  }

  &__header {
    position: relative;
    z-index: $z-index-1;
    background: $color-white;
  }

  &__main {
    height: calc(100vh - #{$header-height});
    overflow-y: auto;

    &__content {
      min-height: 40rem;
      margin-top: 2rem;
      padding: 0 2rem;
      padding-bottom: 5rem;
    }

    @include respond(phone) {
      height: auto;
      overflow-y: initial;
    }
  }
}
