@import "variables";
@import "mixins";

.small {
  height: 100vh;
  overflow: auto;
  background: $color-bg;

  &__container {
    max-width: 30rem;

    padding: 4rem 4rem;
    margin: 8rem auto;

    background: $color-white;

    box-shadow: $shadow-1;
  }

  &__headline {
    b {
      font-weight: 500;
    }
    font-size: $font-size-normal;
    color: $color-black;
  }

  &__heading {
    font-weight: 600;
    font-size: $font-size-big;

    color: $color-primary;
  }

  &__body {
    padding-top: 2rem;
  }
}
